{% extends 'basic.html' %}
{% load static %}
{% load humanize %}
{% block title %}Profile{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">  
<link rel="stylesheet" href="{% static 'css/kobi_jibon.css' %}">
{% endblock style %}
{% block content %}

{% if data %}
{% for datas in data %}
      <div class="row">
        <div class="col-sm-7">

          <div class="d-flex">
            <div class="image">
                <img src="
                  {% if datas.gender == 'মেয়ে' %}
                    {% static 'gif/girl.png' %}
                  {% else %}
                    {% static 'gif/man.png' %}
                  {% endif %}
                " width="150px" alt="">
            </div>
            <div class="text_short">
                <strong>{{user.first_name}} {{user.last_name}} <img src="{% static 'gif/3rd-place.png' %}" width="30px" style="margin-left: 20px;" alt=""></strong>
                <div class="dob">
                    <span>জন্মঃ {{datas.dob}}</span>
                    <span id="dob">মৃত্যুঃ {{datas.death}}</span>
                </div>
                <div class="category">
                  <div class="d-flex">
                    <span class="badge text-bg-primary">{{datas.tags_1}}</span>
                    <span class="badge text-bg-danger">{{datas.tags_2}}</span>
                    <span class="badge text-bg-warning">{{datas.tags_3}}</span>
                  </div>
                </div>
                <div class="eff">
                  <div class="d-flex">
                    <span>গল্প (0টি) </span>
                    <span id="data">কবিতা (0টি)</span>
                    <span id="data">উপন্যাস (0টি)</span>
                  </div>
                </div>
            </div>
              <div class="qrcode">
                  <img src="/media/qrcode/{{datas.qr_code_name}}" width="150px">
              </div>
          </div>

          <p id="text">
            {{datas.bio}}
            <hr>
          </p>

          <div class="additional_data">
            <div class="d-flex justify-content-between">
              <div>
                  <h3><img src="{% static 'gif/safety.png' %}" width="50px"> ব্যক্তিগত তথ্য </h3>
              </div>
              <div>
                <a role="button" class="btn btn-danger" href="/profile/user-update/"> আপডেট করুন <img src="{% static 'gif/change.png' %}" width="20px"></a>
              </div>
            </div>
            <div class="dat">
             <table class="table table-hover">
                <tr>
                  <th>Object</th>
                  <th>Status</th>
                </tr>
                <tbody>
                  <tr>
                    <td>Nick Name</td>
                    <td>{{datas.nickname}}</td>
                  </tr>
                  <tr>
                    <td>Join</td>
                    <td>{{user.date_joined|naturaltime}}</td>
                  </tr>
                  <tr>
                    <td>Email Address</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>{{datas.mobile}}</td>
                  </tr>
                  <tr>
                    <td>Relationship Status</td>
                    <td>{{datas.relationship_status}}</td>
                  </tr>
                  <tr>
                    <td>Favourite Color</td>
                    <td>{{datas.fav_clr}}</td>
                  </tr>
                  <tr>
                    <td>Educational Qualification</td>
                    <td>{{datas.edu_qual}} in {{datas.depart_sub}}</td>
                  </tr>
                  <tr>
                    <td>Educational Institute</td>
                    <td>{{datas.edu_ins}}</td>
                  </tr>
                  <tr>
                    <td>Profession</td>
                    <td>{{datas.profession}}</td>
                  </tr>
                  <tr>
                      <td>Social Connection</td>

                      <td><a style="padding:20px;" href="{{datas.fb}}"><img src="{% static 'gif/facebook.png' %}"  width="30px" alt="facebook"></a>
                      <a style="padding:20px;" href="{{datas.youtube}}"><img src="{% static 'gif/youtube.png' %}"  width="30px" alt="youtube"></a>
                       <a style="padding:20px;" href="{{datas.insta}}"><img src="{% static 'gif/instagram.png' %}"  width="30px" alt="Instagram"></a>
                       <a style="padding:20px;" href="{{datas.fb}}"><img src="{% static 'gif/whatsapp.png' %}"  width="30px" alt="whatsapp"></a>
                      </td> 
      
                  </tr>
                </tbody>
             </table>
            </div>
          </div>
        </div>
<style>
  .list ul li a{
    text-decoration:underline;
    color:steelblue;
  }
</style>
        <div class="col-sm-5">
            <div class="list">
              <ol>
                <li id="story"> গল্পগ্রন্থ </li>
                    <ul id="story_list">
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                    </ul>
                <li id="poem">কাব্যগ্রন্থ</li>
                  <ul id="poem_list">
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                  </ul>
                  <li id="novel">উপন্যাস</li>
                  <ul id="novel_list">
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                  </ul>
              </ol>
            </div>
        </div>
      </div>
        <div class="row">
          <div class="shares">
            <h3>শেয়ার করুন <img src="{% static 'gif/share.png' %}" width="40px" alt=""></h3>
            <div class="d-flex justify-content-center">
              <hr width="50%">
            </div>
          </div>
          <div class="link">
            <div class="d-flex justify-content-center">
              <div class="facebook">
                <a href="#"><img src="{% static 'gif/facebook.png' %}" alt=""></a>
              </div>
              <div class="messenger">
                <a href="#"><img src="{% static 'gif/messenger.png' %}" alt=""></a>
              </div>
              <div class="whatsapp">
                <a href="#"><img src="{% static 'gif/whatsapp.png' %}" alt=""></a>
              </div>
              <div class="tiktok">
                <a href="#"><img src="{% static 'gif/tik-tok.png' %}" alt=""></a>
              </div>
              <div class="youtube">
                <a href="#"><img src="{% static 'gif/youtube.png' %}" alt=""></a>
              </div>
              <div class="telegram">
                <a href="#"><img src="{% static 'gif/telegram.png' %}" alt=""></a>
              </div>
              <div class="telegram">
                <a href="#"><img src="{% static 'gif/twitter.png' %}" alt=""></a>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
  {% endfor %}
{% else %}
      <div class="row">
        <div class="col-sm-7">

          <div class="d-flex">
            <div class="image">
                <img src="{% static 'gif/man.png' %}" width="150px" alt="">
            </div>
            <div class="text_short">
                <strong>{{user.username}} <img src="{% static 'gif/3rd-place.png' %}" width="30px" style="margin-left: 20px;" alt=""></strong>
                <div class="dob">
                    <span>জন্মঃ </span>
                    <span id="dob">মৃত্যুঃ </span>
                </div>
                <div class="category">
                  <div class="d-flex">
                    <span class="badge text-bg-primary"></span>
                    <span class="badge text-bg-danger"></span>
                    <span class="badge text-bg-warning"></span>
                  </div>
                </div>
                <div class="eff">
                  <div class="d-flex">
                    <span>গল্প (0টি) </span>
                    <span id="data">কবিতা (0টি)</span>
                    <span id="data">উপন্যাস (0টি)</span>
                  </div>
                </div>
            </div>
          </div>

          <p id="text">
            Null
            <hr>
          </p>

          <div class="additional_data">
            <h3>ব্যক্তিগত তথ্য <a role="button" class="btn btn-danger" href="/profile/update-profile/">প্রোফাইল তৈরী করুন <img src="{% static 'gif/change.png' %}" width="20px"></a></h3>
            <div class="dat">
             <table class="table table-hover">
                <tr>
                  <th>Object</th>
                  <th>Status</th>
                </tr>
                <tbody>
                  <tr>
                    <td>Nick Name</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Join</td>
                    <td>{{user.date_joined|naturaltime}}</td>
                  </tr>
                  <tr>
                    <td>Email Address</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Relationship Status</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Favourite Color</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Educational Qualification</td>
                    <td>Null in Null</td>
                  </tr>
                  <tr>
                    <td>Educational Institute</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Profession</td>
                    <td>Null</td>
                  </tr>
                  <tr>
                    <td>Facebook</td>
                    <td><a href="#">Null</a></td>
                  </tr>
                  <tr>
                    <td>Youtube</td>
                    <td><a href="#">Null</a></td>
                  </tr>
                  <tr>
                    <td>Instagram</td>
                    <td><a href="#">Null</a></td>
                  </tr>
                </tbody>
             </table>
            </div>
          </div>
        </div>
<style>
  .list ul li a{
    text-decoration:underline;
    color:steelblue;
  }
</style>
        <div class="col-sm-5">
            <div class="list">
              <ol>
                <li id="story"> গল্পগ্রন্থ </li>
                    <ul id="story_list">
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                      <li><a href="#">Lorem ipsum dolor sit </a></li>
                    </ul>
                <li id="poem">কাব্যগ্রন্থ</li>
                  <ul id="poem_list">
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                  </ul>
                  <li id="novel">উপন্যাস</li>
                  <ul id="novel_list">
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                    <li><a href="#">Lorem ipsum dolor sit </a></li>
                  </ul>
              </ol>
            </div>
        </div>
      </div>
        <div class="row">
          <div class="shares">
            <h3>শেয়ার করুন <img src="{% static 'gif/share.png' %}" width="40px" alt=""></h3>
            <div class="d-flex justify-content-center">
              <hr width="50%">
            </div>
          </div>
          <div class="link">
            <div class="d-flex justify-content-center">
              <div class="facebook">
                <a href="#"><img src="{% static 'gif/facebook.png' %}" alt=""></a>
              </div>
              <div class="messenger">
                <a href="#"><img src="{% static 'gif/messenger.png' %}" alt=""></a>
              </div>
              <div class="whatsapp">
                <a href="#"><img src="{% static 'gif/whatsapp.png' %}" alt=""></a>
              </div>
              <div class="tiktok">
                <a href="#"><img src="{% static 'gif/tik-tok.png' %}" alt=""></a>
              </div>
              <div class="youtube">
                <a href="#"><img src="{% static 'gif/youtube.png' %}" alt=""></a>
              </div>
              <div class="telegram">
                <a href="#"><img src="{% static 'gif/telegram.png' %}" alt=""></a>
              </div>
              <div class="telegram">
                <a href="#"><img src="{% static 'gif/twitter.png' %}" alt=""></a>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
{% endif %}




{% endblock content %}